.caixa {
    background-color: #3F51B5;
}

.titulo {
    color: white !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens {
    background-color: white;
}

.titulo2 {
    font-size: 6rem;
    color: #0000ff;
    text-align: center;
}

.imagem {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.fundo {
    background-color: pink;
}